@{
    ViewBag.Title = "TrangChu";
}

<h2>QUẢN LÝ GIẢI BÓNG ĐÁ SINH VIÊN</h2>
<div class="button-container">
    <button class="image-button">
        <img src="~/images/LichThiDau.png" alt="Button Image">
        <p>Đăng Ký Đội Bóng</p>
    </button>
    <button class="image-button">
        <img src="~/images/laplichthidau.png" alt="Button Image">
        <p>Lập Lịch Thi Đấu</p>
    </button>
    <button class="image-button">
        <img src="~/images/ghinhankq.png" alt="Button Image">
        <p>Ghi Nhận Kết Quả Trận đấu</p>
    </button>
    <button class="image-button">
        <img src="~/images/bangdau.png" alt="Button Image">
        <p>Tạo Bảng Đấu</p>
    </button>
    <button class="image-button">
        <img src="~/images/bxh.png" alt="Button Image">
        <p>Bảng Xếp Hạng</p>
    </button>
</div>
