@{
    ViewBag.Title = "TrangChu";
}

<h2>QUẢN LÝ GIẢI BÓNG ĐÁ SINH VIÊN</h2>
<div class="button-container">
    <a href="/Home/DangKyDoiBong" class="image-button">
        <img src="~/images/DangKyDB.png" alt="Button Image">
        <p>Đăng Ký Đội Bóng</p>
    </a>
    <a href="/Home/LapLichThiDau" class="image-button">
        <img src="~/images/laplichthidau.png" alt="Button Image">
        <p>Lập Lịch Thi Đấu</p>
    </a>
    <a href="/Home/GhiNhanKetQua" class="image-button">
        <img src="~/images/ketqua.png" alt="Button Image">
        <p>Ghi Nhận Kết Quả</p>
    </a>
    <a href="/Home/LapBangDau" class="image-button">
        <img src="~/images/league.png" alt="Button Image">
        <p>Lập Bảng Đấu</p>
    </a>
    <a href="/Home/LapBangXepHang" class="image-button">
        <img src="~/images/bxh.png" alt="Button Image">
        <p>Bảng Xếp Hạng</p>
    </a>
</div>
